@media screen and (max-width: 1200px) {
  .container {
    width: 968px !important;
  }
}
@media screen and (max-width: 992px) {
  .container {
    width: 720px !important;
  }
  .header-body {
    display: block !important;
    text-align: center;
  }
  .table__item {
    padding-right: 0 !important;
  }
  .menu__item {
    margin: 0 !important;
    margin: 0 auto !important;
  }
  .menu__item:first-child {
    margin-left: 20px !important;
  }
  .russia {
    margin-right: 0 !important;
    margin-top: 20px;
  }
  .data-menu a {
    margin-left: 0 !important;
  }
  .data-menu a:first-child {
    margin-right: 80px;
  }
  .data-menu a:last-child {
    margin-left: 80px !important;
  }
  .data-menu {
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 540px !important;
  }
  .table__item:last-child {
    padding-right: 0 !important;
    padding-left: 10px !important;
  }
  .menu,
  .data-menu,
  .russia {
    display: none !important;
  }
  .header {
    padding: 35px 0 !important;
  }
  content {
    opacity: 1 !important;
  }
}
@media screen and (max-width: 576px) {
  .container {
    width: 90% !important;
  }
  .table-body {
    display: block !important;
    border: 1px solid #1390CE;
    border-radius: 5px;
    margin-top: 20px;
    padding: 30px 0;
  }
  .table__item {
    border: none !important;
    background: #FBFBFB !important;
    padding: 10px 10px 10px 10px !important;
  }
  .table__item p {
    text-align: center;
    margin-top: 20px;
    font-size: 13px !important;
    background: #FBFBFB;
  }
  .table__item p:first-child {
    margin-top: 0 !important;
  }
  .table-radius1,
  .table-radius2,
  .table-radius3,
  .table-radius4 {
    border-radius: 5px !important;
  }
  .table__item:last-child {
    padding: 10px 10px 10px 10px !important;
  }
  .table__item {
    width: auto !important;
  }
  .code-block h3,
  .code-write h3,
  .service-block h3 {
    text-align: center;
  }
  .service-down {
    width: 230px !important;
  }
  .service-down-list {
    width: 200px !important;
  }
  .service-list {
    margin: 0 auto;
  }
  .table-btn {
    margin: 0 auto;
  }
  .preloader p {
    top: 70% !important;
  }
}
